<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test for PageExchange</title>
</head>

<body>
    <h1> This is just a test for running user auth on PageExchange</h1>
    <a href="./login">login</a>
    {{{ body }}}
</body>

</html>