<style>
        #search-welcome {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
          }
        #searchImg-container {
          width: 100%;
          margin: 0;
          height: 500px !important;
          opacity: 0.5 !important;
          background-image: url(assets/bgimg.jpg);
          background-size: cover;
          background-repeat: no-repeat;
        }
        .welcome {
          align-items: center;
        }
    </style>

<div id="header"></div>
<div id="navBar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h1 class="navbar-brand" href="#">PageExchange</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav text-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">My Page</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li>
                    <form class="form-inline">
                        <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="">Sign Out</button>
                    </form>
                </li>
            </ul>

        </div>
    </nav>
</div>
<div id="search-section">
    <div class="coverPg">
        <div id="searchImg-container" class="landing-img"></div>
        <div id="search-welcome">
            <div class="container welcome">
                <div class="text-center">
                    <h2 class="mb-3">Search your book ...</h2>
                    <div class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search for books..."
                            aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="main">

    {{#each books}}
    <div class="result-list row mt-4 ml-4">
        <div class="col-auto d-none d-lg-block">
            <img src="{{book_cover}}" alt="">
            {{!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"

                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">bookPhoto</text>
            </svg> --}}
        </div>
        <div class="resultBox col-md-8">
            <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="resultBoxContent col">
                    <h3 class="mb-0" id="bookTitle">{{title}}</h3>
                    <strong class="d-inline-block mb-2 textInfo" id="Genre">Novel</strong>
                    {{!-- <div class="mb-1 textMutedChange" id="date">1999</div> --}}
                    <p class="mb-auto" id="bookDescription">{{description}}
                    </p>
                    <a href="/request_book/{{id}}" class="stretched-link">Contact to Seller</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<div id="footer"></div>