<div class="container">
    <h3>Messages</h3>

    <div id="messageContainer">
        {{#if messages}}
        {{#each messages}}
        <div class="list-group my-3">
            <div class="list-group-item list-group-item-action active">
                <a href="/inbox/{{id}}" class="stretched-link"></a>
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">You have a new message from {{name}}</h5>
                    <small>{{date}}</small>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <p>You have no messages</p>
        {{/if}}

    </div>
</div>