
<style>
    .coverPg {
        position: relative;
    }

    #landing-welcome {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
    }

    #img-container {
        width: 100%;
        margin: 0;
        height: 500px !important;
        opacity: 0.5 !important;
        background-image: url(assets/bgimg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .welcome {
        align-items: center;
    }

    #UseStory {
        margin-left: 6px;
        margin-right: 6px;
    }

    #tech-img {
        width: 100%;
        margin: 0;
        height: 300px !important;
        opacity: 0.7 !important;
        background-image: url(assets/tech-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<div class="container">
<h1 class="mb-2">Welcome to your library, {{userName}}</h1>

    <a class="btn btn-primary mt-4" href="/newbook">Add A Book</a>

    <!-- welcome image -->
    <div id="main flex-md-row">
        {{#each books}}
        {{> personalbook}}
        {{/each}}
    </div>
</div>
<script>
    async function deleteBook(id) {
        await fetch(`/api/books/${id}`, { method: "DELETE" })
        window.location.reload(false);
    }

</script>