<label for="title">Book Title</label>
<input type="text" id="title" name="title">

<button onclick="searchGBooks()" id="submitButton">Submit New Book</button>
<div class="bookresults">
    <ul>
        {{#each books}}
        <li>{{title}}</li>
        <img src="{{book_cover}}" alt="">
        <li><button onclick="addBook({{id}})">Choose Book</button></li>
        {{/each}} //using router.post("/add_book/:index")
    </ul>
</div>

<script>

    async function addBook(id){
        //The original search is going to be part of the URL here, so if we want
        //the exact same results we could grab it there
        let originalSearch = window.location.href.split("/")
        originalSearch = originalSearch[originalSearch.length - 1]
        
        //then we want to send a fetch post request to /api/books
        //with the book originalSearch and the id
        
        
        //We don't need to assign a vari able, because we're sending something to the server
        //not asking for something


        await fetch("/api/books" {
                method: "POST", //Post request, instead of the default which is get
                headers: { 'Content-Type': "application/json" }, //telling the server we're sending JSON
                body: JSON.stringify({
                    bookID: id
                })

    }
</script>