<label for="title">Book Title</label>
<input type="text" id="title" name="title">

<button onclick="searchGBooks()" id="submitButton">Submit New Book</button>
<div class="bookresults">
    <ul>
        {{#each book}}
        <li>{{book}}</li>
        <li>{{title}}</li>
        {{/each}}
    </ul>
</div>

<script>

     function searchGBooks() {
        titleInp = document.querySelector("#title")
        const title = titleInp.value

        fetch(`/api/books/GBooks/${title}`).then(function(result){
            console.log(result)
        }
        )
        //console.log("searchGBooks -> response", response)
    }
</script>