<label for="title">Book Title</label>
<input type="text" id="title" name="title">

<button id="submitButton">Submit New Book</button>

<script>


    document.querySelector("#submitButton").addEventListener("click", async function () {
        titleInp = document.querySelector("#title")
        const title = titleInp.value
        console.log('title', title)
        titleInp.value = ''
        await fetch("/api/books", {
            method: "POST",
            headers: { 'Content-Type': "application/json" },
            body: JSON.stringify({
                book: {
                    title: title,
                }
            })
        })
        window.location.href = "/mylibrary"
    })



</script>