<h2>Welcome to PageExchange!</h2>
<p>Enter some details about yourself</p>
<label for="name">Your Name</label>
<input type="text" id="name" name="name">
<label for="location">Your preferred location to meet up:</label>
<input type="text" id="location" name="location">
<br>    
<button id="saveButt">Save</button>
{{credits}}

<script>
    //on confirmation, send the information to the api/users route and add the user, then reload the page.  The server
    //will check on page reload for the presence of the required data and serve the mylibrary page
</script>