.book {
    /* white-space: nowrap; */

    height: 240px;

}
/* 
.description {
    overflow: hidden;
    text-overflow: ellipsis;
    outline: 1px solid red;
}

.position-relative {
    position: relative;
} */